[Desktop Entry]
Icon=.icon/exercisegrid8192x81928bit.png
Name=exercise grid 8192x8192 8bit
Type=Link
URL[$e]=.source/exercisegrid8192x81928bit.kra
X-KDE-Hidden=false
