[Desktop Entry]
Icon=.icon/exercisegrid4096x40968bit.png
Name=exercise grid 4096x4096 8bit
Type=Link
URL[$e]=.source/exercisegrid4096x40968bit.kra
X-KDE-Hidden=false
